/* TTF-Fonts */

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-Thin.ttf") , format("ttf");
    font-weight: 100;
}

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-ExtraLight.ttf") , format("ttf");
    font-weight: 200;
}

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-Light.ttf") , format("ttf");
    font-weight: 300;
}

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-Regular.ttf") , format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-Medium.ttf") , format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-SemiBold.ttf") , format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-Bold.ttf") , format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-ExtraBold.ttf") , format("ttf");
    font-weight: 800;
}

@font-face {
    font-family: "vazir";
    src: url("ttf/Vazirmatn-Black.ttf") , format("ttf");
    font-weight: 900;
}

/* WOFF2-Fonts */

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-Thin.woff2") , format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-ExtraLight.woff2") , format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-Light.woff2") , format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-Regular.woff2") , format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-Medium.woff2") , format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-SemiBold.woff2") , format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-Bold.woff2") , format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-ExtraBold.woff2") , format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "vazir";
    src: url("woff2/Vazirmatn-Black.woff2") , format("woff2");
    font-weight: 900;
}