@import url(../fonts/fonts.css);

/* Global-Style */

body {
    font-family: "vazir";
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Nav-Style */

nav {
    width: 100%;
    background-color: black;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav menu a {
    padding: 10px 15px;
    color: white;
    margin: 20px;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: 0.3s;
    font-weight: 700;
}

nav menu input {
    padding: 10px;
    border: none;
    margin-left: 60px;
    border-radius: 5px;
    outline: none;
}

nav menu a:hover {
    color: rgb(0, 0, 0);
    background-color: #f7f7f7;
    color: rgb(193, 19, 3);
    border-radius: 7px;
}

nav menu input::placeholder {
    font-weight: 500;
    color: rgb(0, 0, 0);
}

/* Login and Register-Page */

.container-login-register {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: red;
}

.right-login-register {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-login-register {
    width: 70%;
}

.left-login-register img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-login-register input {
    display: flex;
    flex-direction: column;
    padding: 15px 40px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    outline: none;
}

.right-login-register h2 {
    margin-bottom: 30px;
    color: rgb(29, 29, 29);
    font-weight: 800;
    font-size: 35px;
}

.right-login-register button {
    width: 70%;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(17, 74, 118);
    color: #f7f7f7;
    font-weight: 600;
}

.right-login-register input::placeholder {
    font-weight: 500;
    font-size: 0.88rem;
}

.right-login-register button:hover {
    background-color: rgb(5, 61, 104);
}

/* Index-Style */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.contane {
    display: flex;
    /* background-color: aqua; */
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.row {
    /* background-color: black; */
    width: 100%;
    height: 50%;
}

.row-1 {
    gap: 15px;
    display: flex;
    margin-bottom: 50px;
    margin-top: 40px;
}

.row-1 .card {
    background-color: rgb(231, 231, 231);
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.row-2 {
    gap: 15px;
    display: flex
}

.row-2 .card {
    background-color: rgb(231, 231, 231);
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.contane h2 {
    margin-top: 30px;
}

.card-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.card-1 img {
    width: 150px;
    margin-bottom: 30px;
    border-radius: 30px;
    height: 150px;
}

.card-1 h4 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50px;
}

.card-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.card-2 img {
    width: 150px;
    margin-bottom: 30px;
    border-radius: 30px;
    height: 150px;
}

.card-2 h4 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50px;
}

.card-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.card-3 img {
    width: 150px;
    margin-bottom: 30px;
    border-radius: 30px;
    height: 150px;
}

.card-3 h4 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50px;
}

.card-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.card-4 img {
    width: 150px;
    margin-bottom: 30px;
    border-radius: 30px;
    height: 150px;
}

.card-4 h4 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50px;
}

.card-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.card-5 img {
    width: 150px;
    margin-bottom: 30px;
    border-radius: 30px;
    height: 150px;
}

.card-5 h4 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50px;
}

.card-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.card-6 img {
    width: 150px;
    margin-bottom: 30px;
    border-radius: 30px;
    height: 150px;
}

.card-6 h4 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50px;
}

/* Footer-Style */

footer {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.left-footer {
    display: flex;
}
.left-footer img {
    width: 150px;
    height: 150px;
}

.right-footer li {
    color: white;
}

.right-footer li:nth-child(1) {
    color: red;
}
