@import url(../fonts/fonts.css);

/* Global-Style */

body {
    font-family: "vazir";
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Nav-Style */

nav {
    width: 100%;
    background-color: black;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav menu a {
    padding: 10px 15px;
    color: white;
    margin: 20px;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: 0.3s;
    font-weight: 700;
}

nav menu input {
    padding: 10px;
    border: none;
    margin-left: 60px;
    border-radius: 5px;
    outline: none;
}

nav menu a:hover {
    color: rgb(0, 0, 0);
    background-color: #f7f7f7;
    color: rgb(193, 19, 3);
    border-radius: 7px;
}

nav menu input::placeholder {
    font-weight: 500;
    color: rgb(0, 0, 0);
}

/* Login and Register-Page */

.container-login-register {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: red;
}

.right-login-register {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-login-register {
    width: 70%;
}

.left-login-register img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-login-register input{
    display: flex;
    flex-direction: column;
    padding: 15px 40px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    outline: none;
}

.right-login-register h2 {
    margin-bottom: 30px;
    color: rgb(29, 29, 29);
    font-weight:  800;
    font-size: 35px;
}

.right-login-register button {
    width: 70%;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(17, 74, 118);
    color: #f7f7f7;
    font-weight: 600;
}

.right-login-register input::placeholder{
font-weight: 500;
font-size: 0.88rem;
}

.right-login-register button:hover {
 background-color: rgb(5, 61, 104);
}