@import url(../fonts/fonts.css);

/* Global-Style */

body {
    font-family: "vazir";
    background-color: #f7f7f7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Nav-Style */

nav {
    width: 100%;
    background-color: black;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav menu a {
    padding: 10px 15px;
    color: white;
    margin: 20px;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: 0.3s;
    font-weight: 700;
}

nav menu input {
    padding: 10px;
    border: none;
    margin-left: 60px;
    border-radius: 5px;
    outline: none;
}

nav menu a:hover {
    color: rgb(0, 0, 0);
    background-color: #f7f7f7;
    color: rgb(193, 19, 3);
    border-radius: 7px;
}

nav menu input::placeholder {
    font-weight: 500;
    color: rgb(0, 0, 0);
}
